



#divstyle{
border: 1px solid black;
width: 30%;
padding: 5px;
}


ul {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

#categories {
    border-right: 2px solid lightgray;
}

#registerItem{
    width: 200px;
    background: rgb(221, 219, 223);
    padding: 4px;
    display: block;
    margin: 0 auto;
}


